
body{
    background: #CCC;
}

#Header a:hover{
    color: #FFF;
}

.fa{
    color: #FFF;
}

#bg-img{
    background: url("../Images/images.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

#Education span{
    padding: 10px 20px 10px 20px;
}

#Education hr{
    border-width: 2px;
    margin-top: 6px;
}

#Skills span{
    padding: 10px 20px 10px 20px;
}

#Skills hr{
    border-width: 2px;
    margin-top: 6px;
}

#Project span{
    padding: 10px 20px 10px 20px;
}

#Project hr{
    border-width: 2px;
    margin-top: 6px;
}

#Certificates span{
    padding: 10px 20px 10px 20px;
}

#Certificates hr{
    border-width: 2px;
    margin-top: 6px;
}
